<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link  blancos" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['activeM']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blancos" [routerLink]="['/unidadI']" [routerLinkActive]="['activeM']">Unidad I</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blancos"[routerLink]="['/unidadII']" [routerLinkActive]="['activeM']">Unidad II</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blancos" [routerLink]="['/unidadIII']" [routerLinkActive]="['activeM']">Unidad III</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blancos" [routerLink]="['/unidadIV']" [routerLinkActive]="['activeM']">Unidad IV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blancos" [routerLink]="['/referencias']" [routerLinkActive]="['activeM']">Referencias</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>


